{% extends 'layout/base.html'%}
{%load static %}
{% block title %} Books {%endblock%}

{%block content%}
  <div class="row justify-content-center">
    <a href="{% url 'Book.create'%}" class="btn btn-primary w-25"> Add New Book</a>

  </div>
    {% for book in books  %}
    <div class="card card-books p-0 m-5 border-0 text-dark"  style="width: 20rem;">
      <img src={{book.image_url}} class="card-img-top" alt="{{ book.title }}">
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text"><strong>{{book.author}} </strong></p>
          <p class ="card-text">Number of Pages:{{book.numberOfpages}}</p>
          <p class = "card-text">Book Price : {{book.price}} $ </p>
          <p class="card-text"> Book Category : {{book.category.name}}</p>
          <a class="btn btn-book" href={{ book.show_url}} >View Details</a>
          </div>
    </div>
  {%endfor%}
{%endblock%}