{% extends 'layout/base.html' %}
{% load static %}
{% block title %} Add Book {% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex flex-wrap gap-5 flex-row justify-content-evenly align-items-center">
        <div class="left-container p-4">
            <img src="{{ form.instance.image.url }}" class="img-fluid" alt="{{ form.instance.title }}">
            
        </div>
       
        <div class="right-container">
            <form method="POST" class="bg-light p-5 rounded-5" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3 text-start">
                    <label for="{{ form.title.id_for_label }}" class="form-label mb-3">{{ form.title.label }}</label>
                    {{ form.title }}
                    {% if form.title.errors %}
                        <div class="text-danger">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3 text-start">
                    <label for="{{ form.author.id_for_label }}" class="form-label mb-3">{{ form.author.label }}</label>
                    {{ form.author }}
                    {% if form.author.errors %}
                        <div class="text-danger">
                            {% for error in form.author.errors %}
                                <span>{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3 text-start">
                    <label for="{{ form.price.id_for_label }}" class="form-label mb-3">{{ form.price.label }}</label>
                    {{ form.price }}
                    {% if form.price.errors %}
                        <div class="text-danger">
                            {% for error in form.price.errors %}
                                <span>{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3 text-start">
                    <label for="{{ form.numberOfpages.id_for_label }}" class="form-label mb-3">{{ form.numberOfpages.label }}</label>
                    {{ form.numberOfpages }}
                    {% if form.numberOfpages.errors %}
                        <div class="text-danger">
                            {% for error in form.numberOfpages.errors %}
                                <span>{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3 text-start ">
                    <label for="{{ form.category.id_for_label }}" class="form-label mb-3">{{ form.category.label }}</label>
                    {{ form.category }}
                    {% if form.category.errors %}
                        <div class="text-danger">
                            {% for error in form.category.errors %}
                                <span>{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3 text-start">
                    <label for="{{ form.image.id_for_label }}" class="form-label mb-3">{{ form.image.label }}</label>
                    {{ form.image }}
                    {% if form.image.errors %}
                        <div class="text-danger">
                            {% for error in form.image.errors %}
                                <span>{{ error }}</span><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
